{{extend "layout.html"}}

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>About</h1>
    </div>

    <p>
The Crypto Bib database is maintained by <a href="http://www.di.ens.fr/~mabdalla">Michel Abdalla</a> and <a href="http://www.normalesup.org/~fbenhamo">Fabrice Ben Hamouda</a>.
It was created by Michel Abdalla.
    </p>

    <p>
If you have any remarks or corrections, please contact us at <a href="michel.abdalla (at) ens.fr">michel.abdalla (at) ens.fr</a> and <a href="fabrice.ben.hamouda (at) ens.fr">fabrice.ben.hamouda (at) ens.fr</a>.
    </p>

    <p>
This website has been built using <a href="http://getbootstrap.com">Twitter Bootstrap</a> and is powered by <a href="http://www.web2py.com">web2py</a>.
    </p>

  </div>
</div>
