{{extend "layout.html"}}

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>About</h1>
    </div>

    <p>
The Crypto Bib database is maintained by <a href="http://www.di.ens.fr/~mabdalla">Michel Abdalla</a> and <a href="http://www.normalesup.org/~fbenhamo">Fabrice Benhamouda</a>.
It was created by Michel Abdalla.
    </p>

    <p>
If you have any remarks or corrections, please contact us at <a href="michel.abdalla (at) ens.fr">firstname.lastname (at) ens.fr</a>.
    </p>

    <p>
      You can also directly submit a <strong>pull request</strong> or <strong>report an issue</strong> on <a href="https://github.com/cryptobib/db">cryptobib/db GitHub project</a>.
This is now the preferred way of reporting an error.
    </p>

    <p>
This website has been built using <a href="http://getbootstrap.com">Twitter Bootstrap</a> and is powered by <a href="http://www.web2py.com">web2py</a>.
    </p>

  </div>
</div>
