{{extend 'layout.html'}}

{{block header}}
  <div class="jumbotron">
    <div class="container">
      <h1> CryptoBib</h1>
      <p>
        CryptoBib is a BibTeX database containing papers related to Cryptography, with manually checked entries and uniform BibTeX data. CryptoBib can be used as a classical BibTeX database.
        BibTeX keys are short and easy to remember.
      </p>
      <h2>
        URL field <span class="label label-danger">New</span>
      </h2>
      <p><b>2017-04-06:</b> URLs are now indicated in the <code>url</code> field instead of in the field <code>note</code>. If you were using <code>splncs.bst</code> or <code>biblatex / biber</code>, you should not need to change anything. But if you are still using old <code>bibtex</code> styles, such as <code>alpha.bst</code> or <code>plain.bst</code>, you may want to move to <code>alphaurl.bst</code> or <code>plainurl.bst</code>, otherwise URLs will not be displayed anymore.
      </p>
      <p><a class="btn btn-success" href="{{=URL('default', 'manual')}}">Get started</a></p>
    </div>
  </div>
{{end}}

<div class="row">
  <div class="col-md-3">
    <h2>Download</h2>
    Download
    <ul>
      <li>one of these files:
        <ul>
          <li><a href="{{=URL('static', 'files/abbrev0.bib')}}">abbrev0.bib</a> (most detailed)</li>
          <li><a href="{{=URL('static', 'files/abbrev1.bib')}}">abbrev1.bib</a> (w/o conf. days)</li>
          <li><a href="{{=URL('static', 'files/abbrev2.bib')}}">abbrev2.bib</a> (short names)</li>
          <li><a href="{{=URL('static', 'files/abbrev3.bib')}}">abbrev3.bib</a> (least detailed)</li>
        </ul>
      </li>
      <li>and one of those:
        <ul>
          <li><a href="{{=URL('static', 'files/crypto.bib')}}">crypto.bib</a></li>
          <li><a href="{{=URL('static', 'files/crypto_crossref.bib')}}">crypto_crossref.bib</a></li>
          <li><a href="{{=URL('default', 'custom')}}">crypto_custom.bib</a></li>
        </ul>
      </li>
    </ul>
  </div>
  
  <div class="col-md-6">
    <h2>GitHub</h2>
    <p>The code is now open source, and you can now add cryptobib files as an SVN external project or a Git submodule to always stay up to date:</p>
    <ul>
      <li>Add the submodule to your paper's project:
        <br />
        <code>
git submodule add https://github.com/cryptobib/export cryptobib
        </code>
      </li>
      <li>Update cryptobib: 
        <br />
        <code>( cd cryptobib && git pull origin master ) </code>
      </li>
      <li>Retrieve cryptobib after <code>git clone</code> or <code>git pull</code>: 
        <br />
        <code>git submodule update --init</code>
      </li>
    </ul>
    <p><a class="btn btn-primary" href="{{=URL('default', 'manual')}}">See manual</a><a class="btn btn-primary" href="https://github.com/cryptobib">GitHub</a></p>
  </div>

  <div class="col-md-3">
    <h2>Help us improve it</h2>
    <p>CryptoBib entries are imported from <a href="http://www.informatik.uni-trier.de/~ley/db">DBLP</a> and manually checked to make sure titles and authors are correctly rendered in LaTeX.</p>
    <p>If you find any error, please <a href="{{=URL('default', 'about')}}">contact</a> us</p>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-12">
    <h2>Changes</h2>
    <ul>
      {{for c in changes:}}
      <li><time datetime="{{=c.date}}" class="date_change">{{=c.date}}</time>: {{=c.desc}}</li>
      {{pass}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Conferences and Journals in CryptoBib</h2>

{{def list_conf(confs):}}
    <table class="table table-hover">
      <tr>
        <th>Acronym</th>
        <th>Conference/Journal Name</th>
        <th>Entries</th>
      </tr>
      {{for c in confs:}}
      <tr>
        <td>{{=c.name}}</td>
        <td>{{=c.full_name}}</td>
        <td>{{=c.start_year}} - {{=c.end_year}}</td>
      </tr>
      {{pass}}
    </table>
{{return}}

    <h3>Conferences</h3>
    {{list_conf(confs)}}

    <h3>Journals</h3>
    {{list_conf(journals)}}

    <h3>Misc</h3>
    {{list_conf(misc)}}
  </div>
</div>
